[submodule "nerdtree"]
	path=.vim/bundle/nerdtree
	url=git://github.com/scrooloose/nerdtree.git

[submodule "vim-airline"]
	path=.vim/bundle/vim-airline
	url=git://github.com/bling/vim-airline.git

[submodule "virtualenv"]
    path=.vim/bundle/vim-virtualenv
    url=https://github.com/jmcantrell/vim-virtualenv.git
