[submodule "nerdtree"]
	path=.vim/bundle/nerdtree
	url=git://github.com/scrooloose/nerdtree.git

[submodule "vim-airline"]
	path=.vim/bundle/vim-airline
	url=git://github.com/bling/vim-airline.git

[submodule "YouCompleteMe"]
	path=.vim/bundle/YouCompleteMe
	url=git://github.com/Valloric/YouCompleteMe.git

[submodule "vim-surround"]
    path=.vim/bundle/vim-surround
    url=git://github.com/tpope/vim-surround.git

[submodule "taglist"]
    path=.vim/bundle/taglist.vim
    url=git://github.com/vim-scripts/taglist.vim.git

[submodule "tabular"]
    path=.vim/bundle/tabular
    url=git://github.com/godlygeek/tabular.git

[submodule "syntastic"]
    path=.vim/bundle/syntastic
    url=git://github.com/scrooloose/syntastic.git

[submodule "vim-auto-save"]
    path=.vim/bundle/vim-auto-save
    url=git://github.com/vim-scripts/vim-auto-save.git
