[Desktop Entry]
Name=overGrive
Version=3.0
GenericName=overgrive
X-GNOME-FullName=overGrive
Comment=Ubuntu Google Drive Client
Type=Application
Categories=Network
Path=/opt/thefanclub/overgrive/
Exec=python /opt/thefanclub/overgrive/overgrive
Terminal=false
StartupNotify=true
Icon=/opt/thefanclub/overgrive/overgrive.png
TargetEnvironment=Unity
GenericName[en_ZA]=overgrive
X-Ayatana-Desktop-Shortcuts=GoogleDriveWeb;GoogleDriveHelp


[GoogleDriveWeb Shortcut Group]
Name=Visit Google Drive on the web
Exec=xdg-open https://drive.google.com
TargetEnvironment=Unity

[GoogleDriveHelp Shortcut Group]
Name=Help
Exec=xdg-open https://support.google.com/drive
TargetEnvironment=Unity
